<header>
  <nav class="bg-green-400 border-gray-200 px-4 py-2.5 rounded">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      
      <!-- ロゴ部分を文字列に変更 -->
      <%= link_to root_path, class: "flex items-center" do %>
        <span class="self-center text-2xl font-bold whitespace-nowrap">UFOWINS</span>
      <% end %>

      <!-- ナビゲーションメニュー -->
      <div id="navbar-default" class="w-full md:block md:w-auto">
        <ul class="flex flex-col items-center p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-green-400">
          <li>
            <!-- デスクトップ時のログインボタン -->
            <%= link_to login_path, class: "block py-2 px-4 text-gray-500 bg-white rounded hover:bg-gray-100 md:hover:bg-gray-200" do %>
              ログイン
            <% end %>
          </li>
          <li>
            <!-- デスクトップ時の新規登録ボタン -->
            <%= link_to new_user_path, class: "block py-2 px-4 text-gray-500 bg-white rounded hover:bg-gray-100 md:hover:bg-gray-200" do %>
              新規登録
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>