<div class="container mx-auto pt-3">
  <div class="flex justify-center">
    <div class="w-full lg:w-8/12">
      <!-- 検索フォーム代替のブロック要素 -->
      <div class="w-full flex flex-col form-control mb-3">
        <!-- 横並びの検索要素 -->
        <div class="flex justify-center items-center w-full gap-1">
          <%= render 'search', q: @q, url: posts_path %>
        </div>
      </div>
    </div>
  </div>
  <!-- 投稿一覧 -->
  <div class="flex flex-wrap">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="w-full text-center mb-3">投稿がありません</div>
    <% end %>
  </div>
</div>
